
table, td {
    border: 1px solid teal;
}

table {
    margin: 20px auto 0 auto;
}

.circle {
    width: 100px;
    height: 100px;
    font-size: 60px;
    border: 1px solid teal;
    border-radius: 50%;
    display: flex;
}

span {
    margin: auto;
}



